.event {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 30px;
  /* display: none; todo */
}

.event__title {
  font-size: 100px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 47px;
}

.event__info {
  display: flex;
  gap: 80px;
  margin-bottom: 62px;
}

.event__info-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 30px;
}

.event__info-number {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
}

.event__button {
  font-size: 24px;
  line-height: 1.4;
}

.event__button_reserve {
  color: #1A1A1A;
  border-radius: 36px;
  background-color: #FFC119;
  padding: 16px 36px;
  margin-bottom: 24px;
}

.event__button_edit {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .event__title {
    font-size: 70px;
    margin-bottom: 39px;
  }

  .event__info {
    gap: 50px;
    margin-bottom: 45px;
  }

  .event__info-item {
    font-size: 24px;
  }

  .event__info-number {
    font-size: 50px;
  }

  .event__button {
    font-size: 18px;
  }

  .event__button_reserve {
    margin-bottom: 20px;
  }
}

@media (max-width: 680px) {
  .event {
    padding: 80px 16px 60px;
  }

  .event__title {
    font-size: 38px;
    margin-bottom: 7px;
  }

  .event__info {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
    margin-bottom: 30px;
  }

  .event__button_reserve {
    margin-top: auto;
  }
}